# Ignore virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables
.env

# Packaging
build/
dist/
*.egg-info/

# Editor/OS
.DS_Store
*.swp
.idea/
.vscode/